{% extends 'base.html.twig' %}

{% block title %}Chat!{% endblock %}

{% block body %}
<body class="d-flex justify-content-center align-items-center vh-100">
    <div class="w-400 h-60 shadow p-4 rounded">
        <a href="{{ path('home') }}" class="fs-4 link-dark">&#8592;</a>

        <div class="d-flex align-items-center">

            <div class="upload d-flex align-content-end" id="upload">
                <label for="form_upload_add_file" class="file-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                        <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                        </svg>
                </label>
                <div class="input_div">
                    {{ form_start(uploadForm, {'action': path('upload')}) }}
                        {{ form_row(uploadForm.file, {'attr':{'data-action': path('upload')}}) }}
                        {{ form_rest(uploadForm) }}
                    {{ form_end(uploadForm) }}
                </div>
            </div>

            <div class="d-flex align-content-end">
                <label id="vocal">
                <svg id="startRecordingButton" xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="Black" class="bi bi-mic-fill start" viewBox="0 0 16 16">
                    <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
                    <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
                </svg>
                </label>
            </div>

            <h3 class="fs-xs m-2">
                {{ group[0].name }}
                <div class="d-flex align-items-center" title="online">
                    {% if (lastSeen == "Active") %}
                        <div class="online"></div>
                        <small class="d-block p-1">En Ligne</small>
                    {% else %}
                        <small class="d-block p-1">
                            Dernier message :
                            {{ lastSeen }}
                        </small>
                    {% endif %}
                </div>
            </h3>

        </div>

        <div class="shadow p-4 h-60 rounded d-flex flex-column mt-2 chat-box" id="chatBox">
            {% if messages %}
                {% for message in messages %}
                    {% if chat.AppUser == User %}

                        <p class="rtext align-self-end border rounded p-2 mb-1 a">
                            {% if(message.Message|slice(0, 4) == 'img:' ) %}
                                <img src="{{ asset(message.Message|slice(4))}}" class="rtext"/>
                            {% elseif (message.Message|slice(0, 5) == 'file:')%}
                                <a href="{{ asset(message.Message|slice(5))}}" download='' class='a'>Télécharger <i class='fas fa-download'></i></a>
                            {% else %}
                                {{ message.Message }}
                            {% endif %}
                            <small class="d-block">
                                <b>{{ user.Name }} {{ user.Lastname }}</b>
                                <br>
                                {{ message.CreatedAt|format_datetime('short', 'short', locale='fr') }}
                            </small>
                        </p>

                    {% else %}

                        <p class="ltext align-self-start border rounded p-2 mb-1">
                            {% if(message.Message|slice(0, 4) == 'img:' ) %}
                                <img src="{{ asset(message.Message|slice(4))}}" class="ltext"/>
                            {% elseif (message.Message|slice(0, 5) == 'file:')%}
                                <a href="{{ asset(message.Message|slice(5))}}" download='' class='a'>Télécharger <i class='fas fa-download'></i></a>
                            {% else %}
                                {{ message.Message }}
                            {% endif %}
                            <small class="d-block">
                                <b>{{ message.AppUser.Name }} {{ message.AppUser.Lastname }}</b>
                                <br>
                                {{ message.CreatedAt|format_datetime('short', 'short', locale='fr') }}
                            </small>
                        </p>

                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="alert alert-info text-center">
                    <i class="fa fa-comments d-block fs-big"></i>
                    Pas de message pour l'instant, commencer la conversation !
                </div>
            {% endif %}
        </div>
        <div class="input-group mb-3" >
            <textarea cols="3" id="Message" class="form-control"></textarea>
            <button class="btn btn-primary" id="sendBtn" type="submit">
                <i class="fa fa-paper-plane"></i>
            </button>
        </div>

        <div id="ChatInfo"></div>
    </div>
    <div id="hide" style="visibility: hidden">
        <div id="copy"></div>
        <p id="user-message" class='rtext align-self-end border rounded p-2 mb-1'>
        </p>
        <p id="message" class='rtext align-self-end border rounded p-2 mb-1'>
        </p>
        <small class='d-block' id="user-name"><b> </b></small>
        <div id="progress" class='progress' style='width:200px'>
            <div class='progress-bar' role='progressbar' style='width: 0%' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100'></div>
        </div>

        <svg id="startRecordingButton" xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="Black"
             class="bi bi-mic-fill start" viewBox="0 0 16 16">
            <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
            <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
        </svg>
        <svg id="stopRecordingButton" xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="Red"
             class="bi bi-mic-fill stop" viewBox="0 0 16 16">
            <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
            <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
        </svg>
        <svg id="playButton" xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="currentColor" class="bi bi-play-circle m-1 play" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
        </svg>
        <svg id="downloadButton" xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="currentColor" class="bi bi-download send" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
        </svg>

    </div>
    {% block javascripts %}
        <script src="{{ asset('assets/js/chat.js') }}"></script>
        <script src="{{ asset('assets/js/vocal.js') }}"></script>
        <script>
            Chat.init({{ user.id }}, {{ group[0].id }}, "{{ user.Firstname }}", "{{ user.Lastname }}");
            Chat.initWebSocket();
            Chat.initForm();
            Chat.clone();
            Vocal.init({{ user.id }}, {{ group[0].id }}, "{{ user.Firstname }}", "{{ user.Lastname }}");
            Vocal.clone();
            Vocal.vocal();
        </script>
    {% endblock javascripts%}
</body>
{% endblock %}

