{% extends 'base.html.twig' %}

{% block title %}New Conversation !{% endblock %}

{% form_theme formConversation 'bootstrap_5_horizontal_layout.html.twig' %}

{% block body %}
<body class="d-flex justify-content-center align-items-center vh-100">
    <div class="w-400 p-5 shadow rounded">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <img src="{{ asset('assets/img/logo.png') }}" class="w-25">
            <h3 class="display-4 fs-1 text-center">Nouvelle Conversation</h3>
        </div>
        {{ form_start(formConversation) }}
        <div class="mb-3">
            <label class="form-label">Nom</label>
            {{ form_widget(formConversation.name) }}
        </div>

        <div class="mb-3">
            <label class="form-label">Utilisateurs</label>
            {{ form_widget(formConversation.user_to_groups ) }}
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class=" btn btn-primary">Crée</button>
            <a href="{{ path('home') }}" style="margin-left: 20px">Retour</a>
        </div>
        {{ form_end(formConversation) }}
    </div>
    <script>
        $(".chosen-select").chosen({value: "Select"});
    </script>
    {% block modal %}
        {{ render(controller( 'App\\Controller\\FrontChatController::chatApp' )) }}
    {% endblock %}
</body>
{% endblock %}
